@import url('style.css');


.container{
    max-width: 350px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    background-color: #fbfbfb;
}

.second{
    padding: 40px 10px;
    text-align: center;
    width: 350px;
    margin: auto;
}
.second h2{
    color: var(--very-dark-blue-headings);
    font-size: 22px;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
}
.img-mobile,
.illustration-phones,
.img-laptop{
    max-width: 280px;
    width: 100%;
}

.img-laptop{ padding-top: 20px;}
.third{
    padding: 0 10px;
    padding-bottom: 20px;
    text-align: center;
}
.third h2{
    color: var(--very-dark-blue-headings);
    font-size: 22px;
    padding: 5px 0;
    font-family: 'Ubuntu', sans-serif;
}
.third p{
    color: var(--very-dark-blue-headings);
    font-size: 14px;
    padding: 20px 34px;
}
.third{
    margin: auto;
}
.img-left{
    margin: auto;
    width: 350px;
}

.title-white{
    padding: 0 10px;
    padding-bottom: 20px;
    text-align: center;
    background-image: url('../images/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-size: 300px auto;
    background: url('../images/bg-pattern-circles.svg') 57% -123%/69% 88% no-repeat, linear-gradient(90deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    border-bottom-left-radius: 75px;
    border-top-right-radius: 75px;
}
.title-white h2{
    color: var(--white-text);
    font-size: 26px;
    padding: 5px 0;
    font-family: 'Ubuntu', sans-serif;
}
.title-white p{
    color: var(--white-text);
    font-size: 14px;
    padding: 20px 30px;
    font-weight: 300;
}
.title-white-article{
    width: 350px;
    margin: auto;
}

footer{
    background-color: var(--footer-background);
    color: var(--footer-text);
    padding: 15px 0;
    text-align: center;
}
footer img{
    padding-top: 70px;
}

footer a .link-main{color: #fff;}

footer article{
    padding: 20px 0;
}

footer article h3{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16   px;
    padding: 20px 0;
    color: #fff;
}
footer article a{
    font-size: 14px;
    line-height: 1.5;
}
.links-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media(min-width:950px){
.container{
    max-width: 950px;
    line-height: 1.5;
}
.third{
    grid-area: one;
}
.img-right{
    grid-area: two;
}
.grid-image{
    width: 950px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "one two";
    align-items: center
}
.img-mobile{
    max-width: 668px;
    height: 577px;
}
.illustration-phones{
    max-width: 450px;
    width: 100%;
}
#title{
    font-size: 28px;
}
.second {
    padding: 40px 15px;
    width: 100vw;
}
.third{
    text-align: left;
}
.third p{
    padding: 20px 0;
    line-height: 1.5;
}
#p-left{
    padding: 20px 2px
}
.title-white{
    background: url('../images/bg-pattern-circles.svg') -10% 80% / 60% no-repeat, linear-gradient(90deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    height: 290px;
    position: relative;
}
.title-white h2{
    padding-left: 28px;
}
.title-white-article{
    line-height: 1.5;
    margin: auto;
    width: 950px;
    display: flex;
    align-items: center;
    text-align: left;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -56px);
}
.img-left{
    margin: auto;
    width: 950px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "one two";
    align-items: center;
    padding: 90px 20px;
}
.img-laptop{
    max-width: 800px;
    width: 491px;
    height: 510px;
}
footer{
    display: flex;
    max-width: 100vw;
    width: 100%;
    height: 220px;
    align-items: flex-start;
    padding-top: 40px;
    border-top-right-radius: 75px;
    justify-content: center;
}
footer a{
    padding-left: 50px;
}
footer article{
    padding: 0;
}
footer article h3{
    padding: 0;
    padding-bottom: 20px;
}
.footer-class{
    display: flex;
    justify-content: space-around;
    width: 800px;
}
}