:root{
    --light-red-CTA-text: hsl(356, 100%, 66%);
    --very-light-red-CTA-hover: hsl(355, 100%, 74%);
    --very-dark-blue-headings: hsl(208, 49%, 24%);
    --white-text: hsl(0, 0%, 100%);
    --footer-text: hsl(240, 2%, 79%);
    --body-copy: hsl(207, 13%, 34%);
    --footer-background: hsl(240, 10%, 16%);
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
}

button{
    cursor: pointer;
    border: none;
    font-family: inherit;
    background-color: inherit;
    font-size: inherit;
}

a{color: inherit;}

main {
    padding: 20px 10px;
    background: url('../images/bg-pattern-intro-mobile.svg') 35% 50%/250% no-repeat, linear-gradient(135deg, hsl(13, 100%, 72%) 10%, hsl(353, 100%, 62%) 50%);
    max-width: 100vw;
    height: 600px;
    border-bottom-left-radius: 100px;
    color: var(--white-text);
    margin: auto;
}

header{
    margin: auto;
    max-width: 350px;
    width: 100%;
    padding: 30px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hamburger.active{
    display: none;
}
#hamburger{
    display: block;
}
#closed-menu{
    display: none;
}
#closed-menu.active{
    display: block;
}
nav{
    background-color: #fff;
    border-radius: 8px;
    color: var(--very-dark-blue-headings);
    line-height: 2;
    display: flex;
    display: none;
}
nav button{
    color: #fff;
}
.link-main{
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
} 
.menu{
    display: flex;
    justify-content: flex-start;
    width: 600px;
    gap: 30px;
    cursor: pointer;
}
.menu-dropdown{
    display: none;
    font-family: 'Ubuntu', sans-serif;
    color: hsl(207, 13%, 34%);
    margin-top: 8px;
    border-radius: 8px;
}
.menu-dropdown li:hover{
    font-weight: 600;
}
.menu li{
    position: relative;
}

.menu li > .menu-dropdown.active{
    display: inline;
}
.icon-arrow-light{
    display: none;
}

.introductory-text{
    max-width: 350px;
    margin: auto;
    margin-top: 10vh;
    text-align: center;
}
.introductory-text h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
}
.introductory-text p{
    padding: 10px 30px 20px;
}

.btn-option button{
    font-size: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: var(--white-text);
    border: 1px solid #fff;
    width: 130px;
    height: 50px;
    border-radius: 22px;
    font-size: 16px;
}
.btn-option .btn-white{
    background-color: #fff;
    color: hsl(356, 100%, 66%);
    margin-right: 15px;
}
.btn-white:hover{
    background-color: rgb(255, 82, 93);
    color: #fff;
}
.btn-learn:hover{
    background-color: #fff;
    color: hsl(356, 100%, 66%);
}

.signup{
    width: 130px;
    height: 50px;
    border-radius: 25px;
    color: #FF505C;
    background: #fff;
    font-weight: 700;
    outline: 1px solid var(--light-red-CTA-text);
    border: transparent;
    transition: all 100ms linear;
}
.signup:hover{
    background-color: #FF7B86;
    color: #fff;
}


@media (min-width: 950px){
    header{
        max-width: 950px;
        gap: 15px;
        align-items: center;
        }
        nav{
            align-items: center;
            color: #fff;
            display: flex;
            background-color: inherit;
        }
        #hamburger{
            display: none;
        }
        .menu{
            display: flex;
            justify-content: flex-start;
            width: 600px;
            gap: 45px;
        }
        .icon-arrow-light{
            display: inline;
        }
        .icon-arrow-light.active{
            transform: rotate(180deg);
        }
        .icon-arrow-dark{
            display: none;
        }
        .introductory-text{
            max-width: 950px;
            margin-top: 30vh;
        }
        .icon-arrow{
            color: #fff;
        }
        .link-main{
            font-size: 32px;
        } 
        .menu-dropdown{
            width: 151px;
      position: absolute;
      padding: 16px 36px 16px 24px;
      background-color: hsl(0, 0%, 100%);
      text-align: left;
      top: 40px;
      left: calc(100% - 125.5px);
        }
        .signup{
            margin-left: 10px;
        }
}